
@media only screen { 
.theTitle {
    font-family: 'Damion', cursive;
    float: right;
    margin-right: 80px;
    }
}

.mainbuttonone {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-bottom: 5%;
}

.mainbuttontwo {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    float: right;
    margin-right: 20px;

}

.profile {
   font-family: 'Oswald', sans-serif;
   padding: 5%;
   margin: auto;
}

.trailsbody {
   font-family: 'Oswald', sans-serif;
   padding: 2%;
   margin: auto;

}


