 body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /*background-color: #141613;*/
    opacity: 0.8;
  }

  main {
    flex: 1 0 auto;

  }

.totalmiles {
    width: max-content;
}


.loginBox{
    width: 50%;
    height: 200px;
    background-color: #777;
    display: block;
    float: right;
    border: 1px solid orange;
}



.theTitle {
    font: 400 100px/1.3 'Lobster Two', Helvetica, sans-serif;
    color: black; 
    text-shadow: 2px 2px 2px white, 4px 4px 0px rgba(0,0,0,0.90);
    float: right;
    font-size: 100px;
    margin-right: 100px;
    margin-top: 80px;
    font-style: italic;
    opacity: 1.0;
/*    color: #FFFFFF;*/
    display: inline-block;
    line-height: 175px;
}
     @media only screen and (max-width: 400px) {
                    .theTitle{ font-size:100%;}
     }
      @media only screen and (max-width: 800px) {
                    .theTitle{ font-size:150%;}
     }
      /*@media only screen and (max-width: 1100px) {
                    .theTitle{ font-size:120%;}
     }*/

.loggy {
    float: right;  
    margin-right: 80px;
    margin-top: 30px; 
}

.mainbuttonhome {
    font-family: 'Oswald', sans-serif;
    text-shadow: 2px 2px 2px #252a23, 2px 2px 1px rgba(0,0,0,0.90);
    opacity: 0.8;
    color: #ffffff;
    font-style: bold;
    font-size: 30px;
    margin-left: -135px;
    margin-bottom: 1%;
    margin-top: 85px;
    width: 500px;
    display: inline-block;

}

.backtotrails { 
    font-family: 'Oswald', sans-serif;
     display: block;
     font-size: 30px;
     line-height: 30px;
     margin-left: 1300px;

}

.mainbuttontwo {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    float: right;
    margin-right: 20px;
    margin-bottom: 1%;

}

/*h1 { 
    font-family: 'Oswald', sans-serif;
    font-size:50px;
    margin-left: 175px;
    margin-top: 40px;
    color: #d9ebd6 ;
 
 }*/

.profile {
   font-family: 'Oswald', sans-serif;
   padding: 5%;
   margin: auto;
   color: #ffffff;

}

.profilecontainer {
    /*background-color: black;*/
    background-image: url("https://images.unsplash.com/photo-1444076095244-6edf09c44c27?dpr=1&auto=format&crop=entropy&fit=crop&w=1440&h=1067&q=80");
    opacity:1.0;
    
}

.trailsbody {
   font-family: 'Oswald', sans-serif;
   padding: 2%;
   margin-top:3%;
}

.alltrailsbody {
    background-color: #407138;
    height: 100%;
    width: 100%;
}

.homecontainer {
     background-image: url("https://images.unsplash.com/32/Mc8kW4x9Q3aRR3RkP5Im_IMG_4417.jpg?dpr=1&auto=format&crop=entropy&fit=crop&w=1080&h=720&q=80");
     height: 100%;
     width: 100%;
     margin: auto;
}
.maindivhome {
    
    background-image: url("https://images.unsplash.com/photo-1464565134312-083f9c103854?dpr=1&auto=format&crop=entropy&fit=crop&w=1440&h=810&q=80");
    display: inline-block;
    width: 100%;
    height: 100%;
    font-size: 0;
    line-height: 0;
    opacity:1.0;
    vertical-align: middle;
    background-size: 100%;
    background-position: 60% 60%;
    background-repeat: no-repeat;}


.profilebutton {
    margin-left: 10px;
}

.loginbutton {
    margin-left: 10px;
}

 .fixedbuttons {

    font-family: 'Oswald', sans-serif;
    size: 30px;
    
   }



   .trailtitle {
    margin-top: 5%;
    margin-bottom: -200px;

   }

  .profilewords {
    text-align: left;
    margin-top: -5%;
    display: inline-block;


}
  #submitlog {
    align-content: left;
 }

.signoutbutton { 
    right:5px;
    position: absolute;
    font-family: 'Oswald', sans-serif;

 }

 .navbar {
    background-color: black;
    margin: auto;
}

label {
 color: #ffffff;
}
.wholeform {
 margin-bottom: 5%;
 color: #ffffff;
}

.submitlogbutton {
    position: relative;
    display: inline-block;
}

.recordtraillog {
    position: relative;
    right: -700px;
    top: -450px;
    width: max-content;
}

.traillogbutton {
    right:-800px;
}

.traillogwords {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
    color: black;
    opacity: 0.7;
}
.logcontainer {
    background-image: url("http://img05.deviantart.net/0da6/i/2011/291/7/e/parchment_landscape_i_by_allocer2009-d4d80w4.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 1000px;
    margin: auto;
}

.userslog {
     color: black;
    opacity: 0.9;
}

.tabletitles {
    color: black;
    opacity: 0.7;
    font: 100 70px/0.8 'Great Vibes', Helvetica, sans-serif;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.1); 
    font: italic;
}


.loginpage {
background-image: url("https://images.unsplash.com/photo-1443556858920-132511e53739?dpr=1&auto=format&crop=entropy&fit=crop&w=1338&h=892&q=80");
font-family: 'Oswald', sans-serif;
background-repeat: no-repeat;
background-size:cover;
}

.loginbuttons {

}

