.loginBox{
    width: 50%;
    height: 200px;
    background-color: #777;
    display: block;
    float: right;
    border: 1px solid orange;
}

.theTitle {
    font-family: 'Damion', cursive;
    float: right;
    margin-right: 80px;
    }

/*@media only screen and (max-width: 300px)  { 
.theTitle {
    display: block;
    width: 80vw;
    font-family: 'Damion', cursive;
    display: flex;
    align-items: center;
    }
}
*/
/*@media only screen and (max-width: 100px) { 
.theTitle {
    font-family: 'Damion', cursive;
    display: flex;
    align-items: center;
    }
}*/

.mainbuttonone {
    font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter, monospace;
    font-size: 30px;
    text-align: center;
    float: left;
    margin-bottom: 1%;
}

.mainbuttontwo {
    font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif;
    font-size: 16px;
    float: right;
    margin-right: 20px;
    margin-bottom: 1%;

}

.profile {
   font-family: 'Oswald', sans-serif;
   padding: 5%;
   margin: auto;
}

.trailsbody {
   font-family: 'Oswald', sans-serif;
   padding: 2%;
   margin: auto;

}


